@import "bulma/sass/utilities/_all";
@import "bulma/sass/base/_all";
@import "bulma/sass/elements/_all";
@import "bulma/sass/form/_all";
@import "bulma/sass/components/_all";
// @import "bulma/sass/grid/_all";
@import "bulma/sass/helpers/_all";
@import "bulma/sass/layout/_all";
body {
    margin: 0
}

.user-info-card {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    padding: 1.25rem;
    width: 90%;
    margin: auto;
    margin-top: 5vh;
    display: flex;
    justify-content: space-between;
}

.user-form {
    max-width: 600px;
    margin: auto;
    margin-left: 1rem;
    margin-right: 1rem;
}

.topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
}

.topnav a {
    float: left;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.bars {
    float: right;
}

.active {
    background-color: #04aa6d;
    color: white;
}