@import "bulma/sass/utilities/_all";
@import "bulma/sass/base/_all";
@import "bulma/sass/elements/_all";
@import "bulma/sass/form/_all";
@import "bulma/sass/components/_all";
// @import "bulma/sass/grid/_all";
@import "bulma/sass/helpers/_all";
@import "bulma/sass/layout/_all";
body {
    margin: 0
}

.topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
}

.topnav a {
    float: left;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.bars {
    float: right;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.active {
    background-color: #04aa6d;
    color: white;
}