@import "bulma/sass/utilities/_all";
@import "bulma/sass/base/_all";
@import "bulma/sass/elements/_all";
@import "bulma/sass/form/_all";
@import "bulma/sass/components/_all";
// @import "bulma/sass/grid/_all";
@import "bulma/sass/helpers/_all";
@import "bulma/sass/layout/_all";
body {
    margin: 0
}

.centered-title {
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
}

.score-input {
    max-width: 50px
}

.score-summary {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem
}

.checkbox-gabo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.game-container {
    display: flex;
    width: 100vw;
    flex-direction: column;
    justify-content: space-between;
}

.gamer-card-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    align-items: center;
}

.create-game {
    margin: 0 auto;
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
}

.search-user {
    max-width: 600px;
}

.search-user-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.sumTable {
    width: 100%;
}

.user-mini-card {
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
    padding: 1rem;
    background-color: #fff;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.1);
}

.card-game {
    margin: 0 auto;
    width: 90%;
    max-width: 600px;
    padding: 1rem;
    background-color: #fff;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.1);
}

.user-info-card {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    padding: 1.25rem;
    width: 90%;
    margin: auto;
    margin-top: 5vh;
    display: flex;
    justify-content: space-between;
}

.user-form {
    max-width: 600px;
    margin: auto;
    margin-left: 1rem;
    margin-right: 1rem;
}

.topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
}

.topnav a {
    float: left;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.bars {
    float: right;
}

.active {
    background-color: #04aa6d;
    color: white;
}

.stats-sum {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 1rem;
}